.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    height: 70%;
    background-color: #F1F5EB;
    border: none;
    border-radius: 30px;
}

.project-img {
    display: block;
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.swiper-button-prev,
.swiper-button-next {
    color:yellow;
    margin: 2px;
    padding: 6px 0px;
    border-radius: 50%;
}

@media (max-width: 640px){
    .swiper{
        margin: 0 30px;
    }
}

@media (min-width: 640px) {
    .swiper {
        margin: 0 80px;
    }
}